flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "03137db8255004f0",
        "type": "MSSQL-CN",
        "tdsVersion": "7_4",
        "name": "Optima-testowa",
        "server": "192.168.44.241",
        "port": "50253",
        "encyption": true,
        "trustServerCertificate": true,
        "database": "optima",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false,
        "enableArithAbort": true,
        "readOnlyIntent": false
    },
    {
        "id": "edfd15a20d5e020f",
        "type": "MSSQL",
        "z": "f6f2187d.f17ca8",
        "mssqlCN": "03137db8255004f0",
        "name": "MS SQL Query",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "query": "SELECT\r\n    LiczbaPorzadkowa,\r\n    NumerFaktury,\r\n    DataWystawienia,\r\n    PozycjeFaktury\r\nFROM dbo.Faktury\r\nWHERE DataWystawienia >= DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()) - 1, 0)\r\n  AND DataWystawienia < DATEADD(MONTH, DATEDIFF(MONTH, 0, GETDATE()), 0)",
        "modeOpt": "queryMode",
        "modeOptType": "query",
        "queryOpt": "payload",
        "queryOptType": "editor",
        "paramsOpt": "queryParams",
        "paramsOptType": "none",
        "rows": "rows",
        "rowsType": "msg",
        "parseMustache": true,
        "params": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "4b4e93ea954c2302"
            ]
        ]
    },
    {
        "id": "8b1571034d2d0e88",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "edfd15a20d5e020f"
            ]
        ]
    },
    {
        "id": "4b4e93ea954c2302",
        "type": "pythonshell in",
        "z": "f6f2187d.f17ca8",
        "x": 680,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1914bc17622a8acd",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "debugger\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 220,
        "wires": [
            []
        ]
    }
]